header{
    background-color: #BBBBBB;
    padding: 20px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;  /*0 superior e inferior, auto bordes*/
}
nav{
    position:absolute;  /*por default static, absolute se puede ubicar en cualquier parte de la pag*/ 
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;  /*top right bottom left*/
}
nav a {
    text-transform: uppercase; /*letras en mayúsculas*/
    color:#000000;  /*color de las letras */
    font-weight: bold;  /*negritas letras*/
    font-size: 22px;
    text-decoration: none; /*quitar subrayado link*/
}
nav a:hover{    /*captura el movimiento del mouse*/
    color: #c78c19;
    text-decoration: underline; /*subrayado*/
}




footer{
    text-align: center;
    background: url(/img/bg.jpg);  /*repite la imagen n veces*/
    padding: 40px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}