header{
    background-color: #BBBBBB;
    padding: 20px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;  /*0 superior e inferior, auto bordes*/
}
nav{
    position:absolute;  /*por default static, absolute se puede ubicar en cualquier parte de la pag*/ 
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;  /*top right bottom left*/
}
nav a {
    text-transform: uppercase; /*letras en mayúsculas*/
    color:#000000;  /*color de las letras */
    font-weight: bold;  /*negritas letras*/
    font-size: 22px;
    text-decoration: none; /*quitar subrayado link*/
}
nav a:hover{    /*captura el movimiento del mouse*/
    color: #c78c19;
    text-decoration: underline; /*subrayado*/
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;  /*ocupar cada uno el 30 % de espacio  30x3=90 espacio*/
    vertical-align: top;
    /*background: #cccccc;  ayudar la visual*/
    margin: 0 1.5%; /*1.5x6=9+90=99 del total del espacio 940px*/
    padding: 30px 20px; /*30 vertical y 20 horizaontal sobrepasa */
    box-sizing: border-box; /*borde de los items será el límite definido*/
    
    border: 2px solid #000000;  /*borde simplificado width-style-color*/
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    border-radius: 10px;
}

.productos li:hover { /*captura el movimiento del mouse*/
    border-color: #c78c19;
    
}
.productos li:active {  /*con el click del mouse*/
   border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2 { /*captura el movimiento del mouse*/
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /*separar precio de la descripción*/
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);  /*repite la imagen n veces*/
    padding: 40px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/*main contacto*/
main{
    width: 940px;  /*centrar*/
    margin: 0 auto;   /*centrar*/
}
form{
    margin: 40px 0;
}
form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}